.vscode

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
!.env.example

coverage
package-lock.json

# config folder (optional)
config/
public/img/custom_logo.png
public/custom_favicon.ico
